.root {
  width: 420px;
  height: 40px;
  border: 1px solid #5c5c63;
  background-color: #2b2b32;
  border-radius: 8px;

  display: flex;
  align-items: center;
  padding-left: 20px;
  color: #5c5c63;
}
