.root {
  width: 420px;
  height: 40px;
  border: 1px solid #5c5c63;
  background-color: #2b2b32;
  border-radius: 8px;

  display: flex;
  align-items: center;
  padding-left: 20px;
  color: #5c5c63;
}

.inputField {
  width: 400px;
  border: none;
  background: none;
  color: white; /* 원하는 텍스트 색상으로 변경 */
  outline: none; /* 포커스 시 나타나는 테두리 제거 */
}
