.root {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

.left,
.right {
  flex: 1;
  padding: 50px;
}

.right {
  display: flex;
  flex-direction: column;
}

.choice {
  display: flex;
  justify-contents: space-between;
}
