.container {
  position: relative; /* 컨테이너에 대해 상대 위치 설정 */
  margin-top: 20px;
  height: auto;
  width: calc(100vw - 420px);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

.dropdown {
  position: absolute; /* 드롭다운을 절대 위치로 설정 */
  top: 0; /* 컨테이너의 상단에서 시작 */
  right: 0; /* 컨테이너의 오른쪽에서 시작 */
  padding: 8px; /* 드롭다운 주변의 여백 */
}

.dropdown select {
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #292929;
  background-color: #020715;
}

.card {
  margin-top: 20px;
  height: 260px;
}

.img img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  object-fit: cover;
}

.desc {
  width: 180px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}

.desc :hover {
  text-decoration: underline;
}

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
