.root {
  display: flex;
  flex-direction: column;
  justify-contents: start;
}

.img {
  width: 120px;
  height: 120px;
}

.img img {
  border-radius: 10px;
}

.set {
  display: flex;
  height: 100px;
}
