@import url('@/shared/colors');

.container {
  margin-top: 20px;
  margin-bottom: 100px;
  height: 340px;
  width: calc(100vw - 420px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
}

.container::-webkit-scrollbar {
  height: 20px;
  background-color: transparent;
}

.container:hover::-webkit-scrollbar-thumb {
  background-color: var(--main_line);
}

.card {
  margin-right: 120px;
  width: 420px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container :last-child {
  margin-right: 0;
}

.img img {
  width: 420px;
  height: 240px;
  border-radius: 5px;
  object-fit: cover;
}

.desc {
  width: 420px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}

.desc :hover {
  text-decoration: underline;
}
