@import url('@/shared/colors');

.container {
  margin-top: 20px;
  margin-bottom: 100px;
  height: 300px;
  width: calc(100vw - 420px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
}

.container::-webkit-scrollbar {
  height: 20px;
  background-color: transparent;
}

.container:hover::-webkit-scrollbar-thumb {
  background-color: var(--main_line);
}

.card {
  margin-right: 80px;
  width: 200px;
  height: 260px;
}

.container :last-child {
  margin-right: 0;
}

.img img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  object-fit: cover;
}

.desc {
  width: 200px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.desc :hover {
  text-decoration: underline;
}
