.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;
}

.info {
  margin-top: 100px;
}

.subtitle {
  font-size: 36px;
  margin-bottom: 20px;
  margin-top: 60px;
}
