.google {
  width: 40px;
  height: 40px;
  background-image: url('/images/google_login.png');
  background-size: cover;
}

.kakao {
  width: 40px;
  height: 40px;
  background-image: url('/images/kakao_login.png');
  background-size: cover;
}

.naver {
  width: 40px;
  height: 40px;
  background-image: url('/images/naver_login.png');
  background-size: cover;
}
